/* font section  */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.bodycolor{background-color: #F5F8FF;}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.navul {
    display: flex;
}

.navlist {
    list-style: none;
}

.navlink {
    text-decoration: none;
    padding-left: 48px;
    color: black;
}

#navlist1 {
    color: #252432;
    font-size: medium;
    font-weight: bold;
}

#navlist2,
#navlist3 {
    color: #8987A1;
    font-size: medium;
}

#navlist4 {
    display: flex;
}

#navlist4 span {
    margin-left: 10px;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 120px;
    margin: 0 150px;
}
.banner-content {
    width: 50%;
    margin-top: 160px;
}
.bannerhead {
    font-size: 65px;
    font-weight: bold;
}
.banner span {
    color: #E95A08;
}
.bannertxt {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
.banner-img {
    width: 100%;
}
/* plants section */
.plants{margin: 0 150px;}
.plantcontent{text-align: center;}
.plantshead{font-size: 50px;
font-weight: bold;}
.plantshead span { color: #E95A08;}
.plantstext{ color: rgba(0, 0, 0, 0.5);
font-size: 22;}
.card-container{display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;}
.card {text-align: center;}

.plants-name{font-size: 22px;
color: #111111;}
.plants-price{font-size: 22px;
    color: #111111;
font-weight : bold; }
.plants-button{text-align: center;
color: white;
background-color: #E95A08 ;
font-size: 16px;
font-weight:600 ;
padding: 20px 80px;
border-style: none;}

/* plants lover section */
.plantslover{display: flex;
    gap: 60px;
    margin: 210px 150px 0px;}
.plantslover-img{width: 100%;}
.plantslover-content{}
.plantslover-head{font-size: 50px;
font-weight: bold;}
.plantslover-txt {font-size: 22px;
color: rgba(0, 0, 0, 0.5);}

/* Latest deals section */

/* join section */

/* footer section */


/* responsive section  */
@media screen and (max-width: 394px) {

    #navlist1,
    #navlist2,
    #navlist3 {
        display: none;
    }

    .navbar {
        margin: 13px 16px 28px;
    }

    .navimg {
        width: 63px;
        height: 38px;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: normal;
        margin: 0px;
    }

    .banner-content {
        width: 100%;
        margin:0px ;
    }

    .bannerhead {
        font-size: 24px;
    }

    .bannertxt {
        font-size: 14px;
        
    }

    .banner-img {
        width: 100%;
        margin: 0px ;
    }
/* plant section  */
.plants{margin: 0px;}
.plantshead{font-size: 24px;}
.plantstext{font-size: 14;}
.card-container{display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;}
.card {text-align: center;}
.plants-img{width: 100%;}
.plants-name{font-size: 16px;
}
.plants-price{font-size: 18px;
     }
.plants-button{text-align: center;
font-size: 16px;
padding: 19px 30px;}

.plantslover{
    flex-direction: column;
    gap: 18px;
    margin: 41px 6px 18px;}
.plantslover-img{ width: 100%;}
.plantslover-content{}
.plantslover-head{font-size: 24px;}
.plantslover-txt {font-size: 13px;}
}
/* Latest deals section */